#menuWrapper
  #menu
    | link 1, link 2, link 3,...
#headerWrapper
  #headerContent
    h1.styledText Training Community
#contentWrapper
  #mainContent
    h2 Titel der Lektion
    #video
      | video
  != partial('sidebar')
  br.clear
#footerWrapper
  #footerContent
    | content
