.styledText 
    text-shadow: 1px 1px 1px white


body 
    background-color: #F9F9F9


#menuWrapper 
    border-bottom: 1px solid lightgray


#menu 
    text-align: center


#headerContent h1 
    font-size: 56pt
    text-align: center


#mainContent 
    text-align: center


#mainContent h2 
    text-align: left


#video 
    border: 1px solid lightgray


#sidebar div 
    min-height: 200px


#footerWrapper 
    background: -moz-linear-gradient(center top , #666666 0%, #757575 23%, #666666 100%) repeat scroll 0 0 transparent


#footerContent 
    text-align: center


