centered()
    width: 1250px
    margin: 0 auto



#menuWrapper
    overflow: hidden
    width: 100%


#menu
    centered
    padding-bottom: 1em
    padding-top: 1em
    


#headerWrapper 
    margin-bottom: 6em
    overflow: hidden
    width: 100%


#headerContent
    centered


#contentWrapper
    margin: 3em auto
    overflow: hidden
    width: 1250px


#mainContent
    float: left
    width: 900px


#mainContent h2
    margin: 0 auto
    width: 640px


#video 
    height: 360px
    margin: 2em auto
    width: 640px


#sidebar 
    border-left: 1px solid lightgray
    float: left
    padding-left: 2em
    width: 260px


#footerWrapper 
    margin-top: 3em
    overflow: hidden
    padding-bottom: 4em
    padding-top: 1em
    width: 100%


#footerContent 
    centered


.clear 
    clear: both