!!! 5
html
  head
    title
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='style/reset.css')
    link(rel='stylesheet', type='text/css', href='style/colors_text.css')
    link(rel='stylesheet', type='text/css', href='style/layout.css')
  body.lightbgcolor!= body